img {
    width: 100%;
    height: auto;
}
h2 {
    font-family: system-ui;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar a {
    color: rgb(0, 0, 0);  
}

.posicionamiento ul {
    font-size: 0%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.25rem; }

section {
    margin: 3rem 4rem 8rem; }

ul {
    list-style: none;
    margin: 0 0 0 2rem;
    padding: 2.2rem;
    background: #ffffff;
    box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4); }

.navbar-nav{
    font-size: large;
    list-style: none;
    margin: 0 0 0 2rem;
    padding: 2.2rem;
    background: #ffffff00;
    box-shadow: 3px 2px 12px rgba(255, 255, 255, 0); 
}
.ampliar{
    position:relative;
    width: 100%;
    margin: 10px;
    transition: width 0.1s ease-in-out;
}

.ampliarMAS{
    position:relative;
    width: 100%;
    margin: 10px;
    transition: width 0.1s ease-in-out;
}
.carrusel{
    opacity:80%;
    transition: opacity 0.1s ease-in-out;
}
.carrusel:hover{
    opacity: 100%;
}
.carousel-inner{
    background-image: linear-gradient(to right, Black, gray, black);
}
.navbar-brand{
    width: 15%;
}
.pfp{
    border-radius: 25px;
    box-shadow: 3px 2px 12px rgba(68, 67, 67, 0.192); 
}
.footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #444444;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: hsl(340, 82%, 52%);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #2e2e2e;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: hsl(340, 82%, 52%);
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: hsl(340, 82%, 52%);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #ffffff;
    background-color: #000000;
  }
